@font-face {
  font-family: 'bold';
  src: URL('../../fonts/Comfortaa-Bold.ttf') format("truetype");
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  display:inline-block;
  width: 100%;
  background-color: var(--backgroundcolor);

}
.p5frame {
  position: relative;
  top: 35px;
  display:table-cell;
}
#p5div {
  float: center;
  display:inline-block;
}
button {
  border: none;
  font-family: 'bold';
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
  left: 5%;
  background-color: #383e56; 
  color: #f69e7b;
  display: inline-block;
  margin-right: 5%;
  float: left;
  position: relative;
  left: 0;
  top:10px;
  border-radius: 40px;
}
button:hover {
  background-color: var(--darkbackground);
}
