@font-face {
  font-family: 'light';
  src: URL('fonts/Comfortaa-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'bold';
  src: URL('../../fonts/Comfortaa-Bold.ttf') format("truetype");
}

:root {
  --backgroundcolor: #383e56;
  --darkbackground: #2d3245;
  --green: #f69e7b;
  --darkOrange: #d67a56;
  --brown: #eedad1;
  --beige: #d4b5b0;
}
::-webkit-scrollbar {
  /* display: none; */
  width: 12px;
  /* color: var(--darkbackground); */
}
::-webkit-scrollbar-track {
  /* display: none; */
  background-color: var(--backgroundcolor);
}
::-webkit-scrollbar-thumb {
  /* display: none; */
  background-color: var(--green);
}
.halfSpacer {
  width: 100%;
  height: 200px;
  display: inline-block;
  background-color: var(--darkbackground);
}
.mediumSpacer {
  width: 100%;
  height: 75px;
  display: inline-block;
  background-color: var(--darkbackground);
}
.smallSpacer {
  width: 100%;
  height: 36px;
  display: inline-block;
  background-color: var(--darkbackground);
}
.options-table#expandffw {
  border: 1px solid var(--beige);
  border-collapse: collapse;
  display:none;
}
.options-table#expandbck {
  border: 1px solid var(--beige);
  border-collapse: collapse;
  display:none;
}
.options-table#expandlog {
  border: 1px solid var(--beige);
  border-collapse: collapse;
  display:none;
}
.dheadText {
  border: 1px solid var(--beige);
  border-collapse: collapse;
  text-align: left;
  background-color: var(-beige);
  width: 1%;
}
.dhead {
  border: 1px solid var(--beige);
  border-collapse: collapse;
  text-align: center;
  background-color: var(-beige);
  width: 1%;
}
.thead {
  border: 1px solid var(--beige);
  border-collapse: collapse;
  text-align: center;
  width: 1%;
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;

}


body {
  margin: 0;
  display:inline-block;
  width: 100%;
  background-color: var(--backgroundcolor);

}


.p5frame {

  position: relative;

  top: 35px;
  display:table-cell;
}
#p5div {
  float: center;
  display:inline-block;
}

.textCenteredMargined {
  width: 80%;
  height: 0;
  margin:auto;
  margin-left: 5%;
  max-width: 700px;

  display: inline-block;
}
.vspacer {
  width: 5%;
  height: 50%;
  display: table-cell;
  background-color: var(--darkbackground);
}
.donate {
  width: 5%;
  height: 50%;
  margin-left: 20%;
  display: table-cell;

}
.wholeSpacer {
  width: 100%;
  height: 715px;

  background-color: var(--darkbackground);
}
.textCentered {
  width: 80%;
  height: 0;
  /* max-width: 700px; */
  margin: auto;
  display: inline-block;
}
h1 {

  margin-left: 5px;
  color: var(--green);

}
h2 {
  font-size: 36px;
  font-family: 'bold';
  margin-left: 5px;
  color: var(--green)
}
h3 {
  font-size: 26px;
  font-family: 'bold';
  margin-left: 35px;
  color: var(--green)
}
h4 {
  font-size: 20px;
  font-family: 'bold';
}
h5 {
  position:relative;
  top:-20px;
  font-size: 16px;
  font-family: 'bold';
}
p {

  font-size: 16px;
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  color: var(--beige);
  margin-left: 5%;
}

#mframe {
  align:center;
  display:inline;
}
@media screen and (max-device-width: 980px) and (orientation: portrait){
/* some CSS here */
h1 {

    margin-left: 5px;
    color: var(--green);

}
h2 {
    font-size: 36px;
    font-family: 'bold';
    margin-left: 5px;
    color: var(--green)
}
h3 {
    font-size: 28px;
    font-family: 'bold';
    margin-left: 35px;
    color: var(--green)
}
h4 {
    font-size: 26px;
    font-family: 'bold';
}
h5 {
    position:relative;
    top:-20px;
    font-size: 22px;
    font-family: 'bold';
}
p {
    font-size: 22px;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    color: var(--beige);
    margin-left: 5%;
}
#mobileOnly {
    display:auto;
}
#desktopOnly {
    display:none;
}
#mnist {
    display:none;
}

}
#desktopOnly {
  display:auto;
}
#mobileOnly {
  display:none;
}

@media screen and (max-device-width: 580px) and (orientation: portrait){
h1 {

    margin-left: 5px;
    color: var(--green);

}
h2 {
    font-size: 38px;
    font-family: 'bold';
    margin-left: 5px;
    color: var(--green)
}
h3 {
    font-size: 30px;
    font-family: 'bold';
    margin-left: 35px;
    color: var(--green)
}
h4 {
    font-size: 28px;
    font-family: 'bold';
}
h5 {
    position:relative;
    top:-20px;
    font-size: 24px;
    font-family: 'bold';
}
p {
    font-size: 26px;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    color: var(--beige);
    margin-left: 5%;
}
#mnist {
    display:none;
}


}

.dargument {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  color: var(--green);

  display: inline;
  margin:0px;
}
.argument {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  color: var(--green);
  text-decoration: underline;

}
.functionDiv {
  margin-top:6%;
}
.decaled {
  margin-left: 10%;
}
.mainTitle {
  width: 20%;
  height: 100%;
  display: table-cell;
  /* border: 1px solid green; */
  font-size: 72px;
  color: var(--green);

}
.gridtable {
  display: table;
  width:80%;
  margin: auto;
}
.firstHalf {
  width: 40%;
  height: 100%;
  display: table-cell;
  /* border: 1px solid green; */
      background-color: var(--darkbackground);
  color: var(--green);
}
.firstHalf2 {
  width: 40%;
  max-height: 50%;
  display: table-cell;
  /* border: 1px solid green; */
      background-color: var(--darkbackground);
  color: var(--green);
}
.secondHalf {
  width: 60%;

  height: 100%;
  display: table-cell;
  background-color: var(--darkbackground);
  /* border: 1px solid yellow; */
}
.secondHalf2 {
  width: 60%;

  height: 100%;
  display: table-cell;
  background-color: var(--darkbackground);
  /* border: 1px solid red; */
}
.arrowImg {
  position: relative;
  top:14px;
  left: 10%;

}
.hyperlink {
  color: var(--green);
  text-decoration: underline;
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}
.tablecell1 {
  display: table-cell;
  width:10%;
  min-width: 73px;
  /* border: 1px solid red; */
  margin-left: 10px;
}
.tablecel {
  display: table-cell;
  width:90%;
  /* border: 1px solid red; */
  margin-left: 10px;
}
.singleTitle {
  width: 100%;
  table-layout:fixed;
  /* margin-left: 10%; */
  background-color: var(--backgroundcolor);
  display: inline-table;
  /* border: 1px solid red; */

}


.samplecCode {
  width: 50%;
  height: 100%;
  display: table-cell;

}

button {

  border: none;
  font-family: 'bold';
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  position: relative;
  left: 5%;
}

button:focus {
  outline: none;

}
.twitterButton {
  background-color: var(--backgroundcolor); /* Green */
  color: var(--green);

  display: inline-block;
  position: relative;
  top:10px;
  left: -25%;
  border-radius: 30px;

}
.b2 {
  background-color: var(--backgroundcolor); /* Green */
  color: var(--green);
  display: inline-block;
  margin-right: 5%;
  float: right;
  position: relative;
  left: 0;
  top:10px;
  border-radius: 40px;
}
.b2:hover {
  background-color: var(--darkbackground); /* Green */
}

.b1 {
  background-color: var(--green);

  color: var(--backgroundcolor);
  display: table-cell;
  margin: 10px;
  border-radius: 40px;
}
.b1:hover {
  background-color: #e58762;

  color: var(--backgroundcolor);
  display: table-cell;
  margin: 10px;
  border-radius: 40px;
}
.codeTitle {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
  color: var(--beige);
  display:inline;

}
.buttonsTable {

  width: 100%;
  height: 15%;
  position: relative;
  top: -15%;
  left: 0%;
  display: table;
}
.titlePhraseText {
  font-family: 'light';
      font-size: 26px;
  position: relative;
  top:2px;
  left: -2.5%;
}
.titlePhrase {
  position: relative;
  top: -20%;
  left: 1.75%;
  font-size: 22px;
  color: var(--green);
  text-align: left;
}
pre > code {
  font-family: "Sans Mono", "Consolas", "Courier", monospace;
}
.vtext {
  font-family: 'bold';
  color: var(--darkbackground);
  vertical-align: bottom;
  position: relative;
  top: -80%;
  font-size: 32px;
  text-align: right;

}
.version {
  font-size: 32px;
  display: table-cell;
  margin-right: 1%;
  width: 10%;
  height: 30px;
  float: right;
}
.bar {

  position: relative;
  width:100%;
  height: 30px;

  display: table;
}
.bar2 {

  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 1%;
  background-color: var(--darkbackground);
  display: table;
}
.bottom {
  background-color: var(--darkbackground);
  display:inline-block;
  /* border: 1px solid green; */
  width: 100%;
  /* height: 6500px; */
}
#noSelect {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
#nnDemo {
  width: 100%;
  margin-left:1%;

}
#cdnlink {
  position: relative;
  top: -25px;
  padding: 0px;
  margin: 0px;
}
#darkcode {
  width: 80%;
  margin-left: 5%;
}
#jsDemo {
  position: relative;
  top: -15%;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#jsSampleDark {

  background-color: var(--darkbackground);
}
#jsSample {
  position: relative;
  top: -6%;
  padding: 0px;
  margin: 0px;
}
.spacer {
  width: 100%;
  height: 150px;
  display: inline-block;
  background-color: var(--darkbackground);
}
.centered {
  width:100%;
  display: inline-block;
  background-color: var(--darkbackground)
}
.paypalLogo {
  top: 50%;
  position: relative;
  /* border: 1px solid green; */
}
.titleDiv {

  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60%;
  position: relative;
  top: 10%;
  text-align: left;
}
.titleHead {
  font-family: 'light'

}
.centerContainer2 {
  text-align: left;
  display: table;
  /* border: 1px solid red; */
  width: 80%;
  height: 90%;

  margin: auto;

}
.centerContainer3 {
  text-align: left;
  display: table;
  /* border: 1px solid red; */
  width: 90%;
  height: 90%;

  margin: auto;

}
.centerContainer {
  text-align: left;
  display: table;
  /* border: 1px solid red; */
  width: 80%;
  height: 100%;

  margin: auto;

}
.centerContainerSmall3 {
  position: relative;
  top: 1%;
  text-align: left;
  display: table;
  /* border: 1px solid blue; */
  width: 100%;
  height: 10px;
  margin: auto;
  color: var(--green);
}
.centerContainerSmall {
  position: relative;
  top: 1%;
  text-align: left;
  display: table;
  /* border: 1px solid blue; */
  width: 80%;
  height: 10px;
  margin: auto;
  color: var(--green);
}
.centerContainerSmall2 {
  position: relative;

  text-align: left;
  display: table;
  /* border: 1px solid yellow; */
  width: 80%;
  /* height: 60%; */
  margin: auto;
  color: var(--green);
}

.mainContainer {
  /* border: 1px solid red; */

  position: relative;
  top:0%;
  width: 100%;
  height: 650px;

}
